/*
//show ip and address by city type
// (C) kick.smiles@gmail.com @jeskick
// Made by stp freeen, 2012 sun 10.
// E-Mail: kick.smiles@gmail.com
*/
#k_ipshow {
	z-index:		99999;
	color:			#2b2b2b;
	background:		#EFEFEF;
	font-family:	'Arial', Helvetica, sans-serif;
	font-size:		12px;
	text-align:     right;
	bottom:			20px;
 /* top:            0px; 	*/
	position:		fixed;
	padding:		1px;
	border-left:	0px;
	cursor:			default;
}
#k_ipshow #_k{
	position:       absolute;
	left:           0px;
	padding:        0px;
	margin:         0px;
	border:         none;
	font-size:      4px;
}
.k_ipshow_r {
	right:			0.01%;
	border-right:	0px;
}
.k_ipshow_l {
	left:			0.01%;
	border-right:	0px;
}